---
import Layout from "../../layouts/blank.astro";
---

<style is:inline>
  ul {
    list-style: none;
    text-align: center;
  }
</style>

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div>
    <ul>
      <li>
        <a
          href="https://www.bark.com/en/gb/company/smart-bird-home-automations/qNb1v/?show_reviews=true"
          target="_blank"
        >
          <img src="/assets/images/companies/bark.png" width="180" />
        </a>
      </li>
      <li>
        <a href="https://g.page/r/CZUVI3xPtiy3EAE/review" target="_blank">
          <img src="/assets/images/companies/google.png" width="180" />
        </a>
      </li>
      <li>
        <a
          href="https://www.checkatrade.com/give-feedback/1112653?utm_source=members_area&utm_medium=link&utm_campaign=review_reminder&utm_content=ttr_id"
          target="_blank"
        >
          <img src="/assets/images/companies/checkatrade.png" width="230" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/smartbirdha/reviews" target="_blank">
          <img src="/assets/images/companies/facebook.png" width="250" />
        </a>
      </li>
    </ul>
  </div>
</Layout>
