---
import MainFooter from "../../components/footers/main-footer.astro";
import MainHeader from "../../components/headers/main-header.astro";
import Layout from "../../layouts/layout.astro";
---

<style is:inline>
  @media only screen and (max-width: 767px) {
    .page-title {
      padding-top: 200px !important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .page-title {
      padding-top: 200px !important;
    }
  }

  .estimation-section {
    padding: 50px !important;
  }

  .cctv-section {
    padding: 50px !important;
  }
</style>

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div class="boxed_wrapper gradient-color">
    <MainHeader />
    <section
      class="page-title"
      style="background-image: url(/assets/images/banner/cameras.png);"
    >
      <div class="auto-container">
        <div class="content-box">
          <div class="title">
            <h1>Security</h1>
          </div>
          <ul class="bread-crumb text-center clearfix">
            <li><a href="index.html">Home</a></li>
            <li>Security</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- <section class="cctv-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-1.png" alt="" />
              </figure>
              <h5>Bullet Cameras</h5>
              <div class="link">
                <a href="#"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col p-10">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-2.png" alt="" />
              </figure>
              <h5>Dome Cameras</h5>
              <div class="link">
                <a href="#"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-4.png" alt="" />
              </figure>
              <h5>Box Cameras</h5>
              <div class="link">
                <a href="#"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-5.png" alt="" />
              </figure>
              <h5>PTZ Cameras</h5>
              <div class="link">
                <a href="#"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="more-text centred">
            <p>
              Providing Smart security for the smart generation. <a
                href="#">Let’s Get Started</a
              >
            </p>
          </div> -->
  </div>
</Layout>
<!-- <section class="estimation-section">
      <div class="auto-container">
        <div class="inner-content">
          <div class="inner-box">
            <div class="row clearfix">
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Camera Type">Camera Type</option>
                    <option value="1">Bullet Cameras</option>
                    <option value="2">IP Camera</option>
                    <option value="3">Dome Cameras</option>
                    <option value="4">Box Cameras</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="No.Of Cameras">No.Of Cameras</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="price-box">
                  <h5>Total: $18500</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Hard Disk Size">Hard Disk Size</option
                    >
                    <option value="1">300 GB</option>
                    <option value="2">500 GB</option>
                    <option value="3">1 TB</option>
                    <option value="4">2 TB</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Resolution">Resolution</option>
                    <option value="1">720*1080</option>
                    <option value="2">1080*1920</option>
                    <option value="3">4K</option>
                    <option value="4">8K</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="btn-box">
                  <a href="#">Start to Buy</a>
                </div>
              </div>
            </div>
            <div class="text centred">
              <p>
                Use the above calculator to estimate the cost of your
                installation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column">
        <div class="image_block_1">
          <div class="image-box">
            <div class="shape-box">
              <div
                class="line line-1"
                style="background-image: url(/assets/images/icons/line-1.png);"
              >
              </div>
              <div
                class="line line-2"
                style="background-image: url(/assets/images/icons/line-2.png);"
              >
              </div>
              <div
                class="line line-3"
                style="background-image: url(/assets/images/icons/line-3.png);"
              >
              </div>
              <div
                class="line line-4"
                style="background-image: url(/assets/images/icons/line-4.png);"
              >
              </div>
            </div>
            <figure class="image">
              <img src="/assets/images/camera.png" alt="" />
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content_block_1">
          <div class="content-box">
            <div class="sec-title">
              <div class="top-title">
                <div class="shape">
                  <div class="line line-1"></div>
                  <div class="line line-2"></div>
                  <div class="line line-3"></div>
                  <div class="line line-4"></div>
                  <div
                    class="bg-shape"
                    style="background-image: url(/assets/images/icons/bg-shape.png);"
                  >
                  </div>
                </div>
                <p>Types of Cameras</p>
              </div>
            </div>
            <div class="text">
              <h4>Bullet Cameras</h4>
              <p>
                Bullet cameras, with their long, cylindrical shape, are ideal
                for outdoor use, providing a visible deterrent and long-range
                viewing.
              </p>
            </div>

            <div class="text">
              <h4>Dome Cameras</h4>
              <p>
                Dome cameras, known for their discreet and vandal-resistant
                design, are perfect for indoor use, offering wide-angle
                coverage.
              </p>
            </div>

            <div class="text">
              <h4>PTZ Cameras</h4>
              <p>
                PTZ (Pan-Tilt-Zoom) cameras offer dynamic monitoring with the
                ability to rotate, tilt, and zoom, making them ideal for
                covering large areas with a single camera.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<MainFooter />
