---

---

<section class="clients-section bg-color-2">
  <div class="auto-container">
    <div
      class="sec-title-two centred light wow fadeInDown animated"
      data-wow-delay="00ms"
      data-wow-duration="1500ms"
    >
      <p>Smart Products</p>
      <h2>Our most popular installed products</h2>
    </div>
    <div
      class="clients-carousel owl-carousel owl-theme owl-nav-none owl-dots-none"
    >
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/alexa.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/hikvision.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/google-assistant.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/home-assistant.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/eufy.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/lutron.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/shelly.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/ikea.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/sonos.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/homekit.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/phillips-hue.png" alt="" /></a
        >
      </figure>
      <figure class="clients-logo-box">
        <a href="index.html"
          ><img src="/assets/images/brands/tapo.png" alt="" /></a
        >
      </figure>
    </div>
  </div>
</section>
