---
import Layout from "../../layouts/layout.astro";
import MainHeader from "../../components/headers/main-header.astro";
import MainFooter from "../../components/footers/main-footer.astro";
import Clients from "./clients.astro";
import HeroSlider from "./hero-slider.astro";
import Process from "./process.astro";
---

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div class="boxed_wrapper gradient-color">
    <MainHeader />
    <HeroSlider />
    <Clients />
    <Process />
    <MainFooter />
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fal fa-long-arrow-up"></span>
    </button>
  </div>
</Layout>
