---
import Layout from "../../layouts/layout.astro";
import Preloader from "../../components/Preloader.astro";
import MainHeader from "../../components/headers/main-header.astro";
import Subscribe from "./subscribe.astro";
import Clients from "./clients.astro";
import HeroSlider from "./hero-slider.astro";
---

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div class="boxed_wrapper gradient-color">
    <!-- <Preloader /> -->
    <MainHeader />
    <HeroSlider />
    <Clients />
    <Subscribe />
  </div>
</Layout>
