---
import MainFooter from "../../../components/footers/main-footer.astro";
import MainHeader from "../../../components/headers/main-header.astro";
import Layout from "../../../layouts/layout.astro";
---

<style is:inline>
  @media only screen and (max-width: 767px) {
    .page-title {
      padding-top: 200px !important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .page-title {
      padding-top: 200px !important;
    }
  }

  .estimation-section {
    padding: 50px !important;
  }

  .cctv-section {
    padding: 50px !important;
  }
</style>

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div class="boxed_wrapper gradient-color">
    <MainHeader />
    <section
      class="page-title"
      style="background-image: url(/assets/images/banner/cameras.png);"
    >
      <div class="auto-container">
        <div class="content-box">
          <div class="title">
            <h1>Residential & Commercial <br />Cameras</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="cctv-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-1.png" alt="" />
              </figure>
              <h5>Bullet Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-2.png" alt="" />
              </figure>
              <h5>Dome Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-3.png" alt="" />
              </figure>
              <h5>Target Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-4.png" alt="" />
              </figure>
              <h5>Box Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-5.png" alt="" />
              </figure>
              <h5>Tilt Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 single-column">
            <div class="single-item">
              <figure class="icon-box">
                <img src="/assets/images/icons/icon-6.png" alt="" />
              </figure>
              <h5>IP Cameras</h5>
              <div class="link">
                <a href="index.html"><i class="icon-down-chevron"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="more-text centred">
            <p>
              Providing Smart security for the smart generation. <a
                href="index.html">Let’s Get Started</a
              >
            </p>
          </div> -->
      </div>
    </section>
    <section class="estimation-section">
      <div class="auto-container">
        <div class="inner-content">
          <div class="inner-box">
            <div class="row clearfix">
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Camera Type">Camera Type</option>
                    <option value="1">Bullet Cameras</option>
                    <option value="2">IP Camera</option>
                    <option value="3">Dome Cameras</option>
                    <option value="4">Box Cameras</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="No.Of Cameras">No.Of Cameras</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="price-box">
                  <h5>Total: $18500</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Hard Disk Size">Hard Disk Size</option
                    >
                    <option value="1">300 GB</option>
                    <option value="2">500 GB</option>
                    <option value="3">1 TB</option>
                    <option value="4">2 TB</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="select-box">
                  <select class="wide">
                    <option data-display="Resolution">Resolution</option>
                    <option value="1">720*1080</option>
                    <option value="2">1080*1920</option>
                    <option value="3">4K</option>
                    <option value="4">8K</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 single-column">
                <div class="btn-box">
                  <a href="index.html">Start to Buy</a>
                </div>
              </div>
            </div>
            <div class="text centred">
              <p>
                Use the above calculator to estimate the cost of your
                installation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <MainFooter />
  </div>
</Layout>
