---
import MainFooter from "../../components/footers/main-footer.astro";
import MainHeader from "../../components/headers/main-header.astro";
import Layout from "../../layouts/layout.astro";
---

<style is:inline></style>

<Layout title="Smart Bird Home Automations | Oxford & Bucks">
  <div class="boxed_wrapper gradient-color">
    <MainHeader />
    <section
      class="page-title"
      style="background-image: url(/assets/images/smart-home-devices-ai-5.jpg);"
    >
      <div class="auto-container">
        <div class="content-box">
          <div class="title">
            <h1>Who Are We?</h1>
          </div>
          <ul class="bread-crumb text-center clearfix">
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <MainFooter />
</Layout>
