---
import RequestADemo from "../../request-a-demo.astro";
---

<section class="work-style-two home-5 sec-pad centred">
  <div class="auto-container">
    <div
      class="sec-title-two centred wow fadeInDown animated"
      data-wow-delay="00ms"
      data-wow-duration="1500ms"
    >
      <p>How it’s Work</p>
      <h2>Our simple working process</h2>
    </div>
    <div
      class="inner-container wow fadeInUp animated"
      data-wow-delay="00ms"
      data-wow-duration="1500ms"
    >
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 work-block">
          <div class="work-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="icon-consultation"></i></div>
              <span>Step 01</span>
              <h4>Consultation</h4>
              <p>
                We book an online call or site visit to discuss your needs and
                requirements.
              </p>
            </div>
          </div>
          <div style="margin: 30px 0">
            <RequestADemo />
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 work-block">
          <div class="work-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="icon-done"></i></div>
              <span>Step 02</span>
              <h4>Quote</h4>
              <p>
                We quote you including all the requirements you need we spoke
                about in the consult.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 work-block">
          <div class="work-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="icon-toolbox"></i></div>
              <span>Step 03</span>
              <h4>Installation</h4>
              <p>
                Once you are happy with the quote we schedule an install date
                for your new smart home.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 work-block">
          <div class="work-block-one">
            <div class="inner-box">
              <div class="icon-box"><i class="icon-support"></i></div>
              <span>Step 04</span>
              <h4>Aftercare</h4>
              <p>
                Desire that they cannot foresees the pain off bound to ensue.
              </p>
            </div>
          </div>

          <!-- <div style="margin: 30px 0">
            <div class="btn-box">
              <a href="/after-care"
                >Support Options <i class="fas fa-angle-right"></i></a
              >
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
