---

---

<style is:inline>
  .social-style-one li {
    margin-bottom: 10px;
  }
</style>



<footer class="main-footer bg-color-3">
  <div class="auto-container">
      <div class="footer-top-three">
          <div class="row clearfix">
              <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                  <div class="footer-widget contact-widget">
                      <div class="widget-title">
                          <h3>Contact</h3>
                      </div>
                      <div class="widget-content">
                          <ul class="info clearfix"> 
                              <li>
                                  <h6>Location</h6>
                                  <p>Oxford & Bucks</p>
                              </li>
                              <li>
                                  <h6>Email Us</h6>
                                  <p><a href="mailto:hello@smartbirdha.com">hello@smartbirdha.com</a></p>
                              </li>
                              <li>
                                  <h6>Call Us</h6>
                                  <p><a href="tel:01865704177">
                                    01865 704177</a>
                                  </p>
                              </li>
                              <li>
                                  <h6>Opening Hours</h6>
                                  <p>9.00 - 17.00 (Monday - Friday)</p>
                                  <p>9.00 - 12.00 (Saturday)</p>
                              </li>
                          </ul>
                          <ul class="social-style-one clearfix">
                            <li>
                              <a href="https://facebook.com/smartbirdha" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://x.com/smartbirdha" target="_blank">
                                <i class="fab fa-twitter"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://www.linkedin.com/company/104221943" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://tiktok.com/@smartbirdha" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://youtube.com/@smartbirdha" target="_blank">
                                <i class="fab fa-youtube"></i>
                              </a>
                            </li>
                            <li>
                              <a href="https://instagram.com/smartbirdha" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                              </a>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                  <div class="footer-widget links-widget">
                      <div class="widget-title">
                          <h3>Company</h3>
                      </div>
                      <div class="widget-content">
                        <ul class="links-list clearfix">
                          <li><a href="/">Home</a></li>
                          <li><a href="/smart-homes">Smart Homes</a></li>
                          <li><a href="/security">Security</a></li>
                          <li><a href="/networking">Networking</a></li>
                          <li><a href="/about-us">About Us</a></li>
                        </ul>
                        
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                  <div class="footer-column subscribe-widget">
                      <div class="widget-title">
                          <h3>Subscribe To Our Newsletter</h3>
                      </div>
                      <div class="text">
                          <p>Subscribe our newsletter & get updates to your inbox. We showcase recent projects and the latest smart home product news.</p>
                      </div>
                      <div class="form-inner">
                          <form action="contact.html" method="post" class="subscribe-form">
                              <div class="form-group">
                                  <i class="far fa-user"></i>
                                  <input type="text" name="name" placeholder="Your name" required="">
                              </div>
                              <div class="form-group">
                                  <i class="far fa-envelope"></i>
                                  <input type="email" name="email" placeholder="Email address ..." required="">
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="theme-btn">Subscribe</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom-three clearfix">
				<div class="copyright pull-left">
					<p>© Smart Bird Home Automations 2024 - Site Managed by <a href="https://128bitstudios.co.uk">128 Bit Studios</a></p>
				</div>
        <ul class="footer-nav pull-right clearfix">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
          <li><a href="/site-map">Site Map</a></li>
      </ul>
				
							</div>
  </div>
</footer>
